body {
    background-color: black;
}
h1 {
    text-align: center;
    color: aqua;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: chartreuse;
}